* {
    font-family: Roboto, monospace;
}

body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

header {
    grid-column: 2 / 5;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.icon {
    text-align: center;
    width: 25px;
    height: 25px;
}

.mini-profile {
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.profile {
    width: 75px;
    height: 75px;
    border-radius: 100px;
}

#mario {
    background-color: red;
}

#luigi {
    background-color: darkgreen;
}

#peach {
    background-color: pink;
}

#yoshi {
    background-color: yellow;
}